
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box{
    
    background-color:aqua ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}